*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
    border: 10px solid blue;
    min-width: 620px;
    max-width: 619px;
    height: 620px;
    flex-wrap: wrap;
}

#container img{
    display: flex;
    min-width: 200px;
    height: 200px;
    border: 2px solid blue;
    justify-content: center;
    align-items: center;
}